.projectList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    color: black;
    font-size: x-large;
    font-weight: 700;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #007480;
    border-left: 0.5px solid #007480;
    border-right: 0.5px solid #007480;
    box-shadow: rgb(170, 170, 170) 0px 1px 2px 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: fit-content;
    transition: ease-in;
    position: relative;
}

.projectCatalogue {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    background-color: white;
    padding-top: 10px;
    padding-left: 70px;
    color: black;
    font-size: x-large;
    font-weight: 700;
    align-items: center; 
    height: 50px;
    border-bottom: 1px solid #007480;
    border-left: 0.5px solid #007480;
    border-right: 0.5px solid #007480;
    box-shadow: rgb(170, 170, 170) 0px 1px 2px 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 90vh;
    transition: ease-in;
    position: relative;
}

.viewAll {
    cursor: pointer;
    width: fit-content;
    padding: 3px;
    background-color: #605D5D;
    color: white;
    border-radius: 7px;
    height: fit-content;
    position: absolute;
    right: 5px;
    top: 5px;
}

