* {
  font-family: "Titillium Web", sans-serif;
}

.Nav {
  background-color: #605d5d;
  color: #FAFAFA;
  height: 50px;
  display: flex;
  justify-content: start;
  font-weight: 700;
  align-items: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.logo {
 margin-left: 20px;
}


